<% provide(:title, @users.f_name) %>
<div class="row">
	<aside class="span4">
		<section>Welcome
			<h1>
				<%= gravatar_for @users %>
				<%= @users.f_name %>
			</h1>
		</section>
	</aside>
</div>