<footer class="footer">
	<small>
		<a href="#">Molou Computing Solutions &copy; All Rights Reserved</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Services", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>